/* vars */

$black: #010000;
$white: #ffffff;
$lightGray: #e6e6e6;
$darkGray: #333;
$red: #ff1755;
$brn: #D58A4E;

/* mixins */

@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
        transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: transition($e);
    -moz-transition: transition($e);
        transition: ($e);
}

 @mixin rotate($degrees) {
    -moz-transform: rotate($degrees);  
      -o-transform: rotate($degrees);  
 -webkit-transform: rotate($degrees);
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
            filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)});
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=#{cos($degrees)}, M12=-#{sin($degrees)}, M21=#{sin($degrees)}, M22=#{cos($degrees)})";
              zoom: 1;
 }
 
/* fonts - 
regular 400
regular 400 italic
bold 700
bold 700 italic
*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
}
body {
    font-family: 'Ubuntu', sans-serif;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    @include transition(.4s ease-in-out);
    cursor: pointer;


    &:hover {
        color: $brn;
        @include transition(.4s ease-in-out);
    }

}

.container-fluid {
    line-height: 24px;
}