@import "_config.scss";

header {
    position: relative; 
    display: block;
    left: 0px;
    width: 100%;
    background:$darkGray;
    color: $white;
    height: 60px;

    .logo {
        position: absolute;
        top: 50%;
        left: 15px;
        @include transition(-50%);
    }

    nav, nav ul, nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 50%;
        right: 15px;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;


            &.last {
                margin: 20;
            }

            a {
                font-size: 20px;
                line-height: normal;
                color: $white;
            }
        }
    }
    .dropdown {
        position: absolute;
        top: 20%;
        right: 10px;
        
        .Menu {
            border-color: $red;
        }

        a {
            //font-size: 10px;
            line-height: normal;
            color: $red;
        }
    }

}
.main {
.overlay {
    background-image: url(../img/mtnpix.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:$white;
    height: 750px;
    margin: 0px;
}
}
main {
    margin: 0px;
    background-size: auto;

    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  .one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  .two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
}
    .me {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border-top: 50px;
        display: block;
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
    }
   

    h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        text-shadow: 2px 2px black;
    }   

    p {
        font-size: 20px;
        text-align: center;
    }

    a {
        color: $white;
    }
    
}

.whoami {
    color: $darkGray;

    h1 {
        font-size: 35px;
        text-align: center;
        border-top: 30px;
    }   

    p {
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
    }
}

.contact {
    .overlay {
        background-image: url(../img/mtnpix.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        color:$white;
    }

    h1 {
        font-size: 35px;
        text-align: center; 
        text-shadow: 2px 2px black;
        border-top: 40px;
    }   

}

footer {
    position: relative;
    bottom: 0px; 
    display: block;
    width: 100%;
    background: $darkGray;
    color: $white;
    height: 50px;
    left:0px;

    nav {
        position: absolute;
        top: 30%;
        left: 15px;

        
            &.last {
                margin: 20;
            }

            a {
                font-size: 10px;
                line-height: normal;
                color: $white;
            }
    }

}