@import "_config.scss";

.nav {
    background: $lightGray;
   

    a {
        color: $darkGray;

        &:hover {
            color: $brn;
        }
    }
}

.overlay {
    background-image: url(../img/mtnpix.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color:$white;
    margin: 0px;
}

.main {
.overlay {
    height: 100vh;
}

}
main {
    margin: 0px;
    background-size: 100vh;

    @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  .one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  .two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
}
    .me {
        width: 225px;
        height: 225px;
        border-radius: 100%;
        border-top: 50px;
        display: block;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }
   

    h1 {
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        text-shadow: 2px 2px black;
    }   

  

    p {
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
    }

    a {
        color: $white;
    }

    @media all and (max-width: 577px) {
        h1 {
            margin-top: 35px;
        }

        .me {
            margin-top: 75px;  
            width: 150px;
            height: 150px;
        }

        p {
            margin-top: 40px;
        }
    }
}

.whoami {
    color: $darkGray;
    margin-bottom: 50px;    
    h1 {
        font-size: 35px;
        text-align: center;
        margin-top: 100px;
        color: gray;
    }   

    h2 {
        margin-top: 30px;
        color: $brn;
    }
    
    h3 {
        margin-top: 30px;
    }

}

.message {
    margin-top: 40px;
    font-size: 1.5em;
}

.about {
  
    .overlay {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .color {
        color: $brn;
    }

    h1 {
        font-size: 35px;
        text-align: center; 
        text-shadow: 2px 2px black;
        margin-top: 30px;
        margin-bottom: 30px;
    }   

}

.list {
    padding-right: 20px;
   
    ul{
        list-style: none;
        margin-left: 20px;
        margin-right: 20px;
        
        li {
            background-color: $lightGray;
            margin: 10px 10px 10px 10px;
            padding: 5px 10px 5px 10px;
            border-radius: 5px;
            display: inline-block;
            color: $darkGray;
            font-size: 1em;
            font-weight: bold;
        }
    }
}

.projects {
    padding-top: 100px;
    padding-bottom: 100px;

    h1 {
        margin-bottom: 30px;
        color: gray;
    }

    a {
        text-decoration: underline;
     
    }

   .proj {
       margin-top: 20px;
      
   }

}


.foot {
    margin-bottom: 0;

    
}
