/* vars */
/* mixins */
/* fonts - 
regular 400
regular 400 italic
bold 700
bold 700 italic
*/
html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  color: #010000;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none;
  -webkit-transition: transition(0.4s ease-in-out);
  -moz-transition: transition(0.4s ease-in-out);
  transition: 0.4s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #ff1755;
    -webkit-transition: transition(0.4s ease-in-out);
    -moz-transition: transition(0.4s ease-in-out);
    transition: 0.4s ease-in-out; }

.container-fluid {
  line-height: 24px; }

header {
  position: relative;
  display: block;
  left: 0px;
  width: 100%;
  background: #333;
  color: #ffffff;
  height: 60px; }
  header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transition: transition(-50%);
    -moz-transition: transition(-50%);
    transition: -50%; }
  header nav, header nav ul, header nav ul li {
    margin: 0;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    header nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px; }
      header nav ul li.last {
        margin: 20; }
      header nav ul li a {
        font-size: 20px;
        line-height: normal;
        color: #ffffff; }
  header .dropdown {
    position: absolute;
    top: 20%;
    right: 10px; }
    header .dropdown .Menu {
      background-color: #333;
      border-color: #ff1755; }
    header .dropdown a {
      line-height: normal;
      color: #ff1755;
      background-color: #333;
      border-color: #ffffff; }

main h1 {
  font-size: 40px; }

main p {
  font-size: 20px; }

footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background: #333;
  color: #ffffff;
  height: 50px; }
  footer nav, footer nav ul, footer nav ul li {
    margin: 0;
    padding: 0; }
  footer nav {
    position: absolute;
    top: 30%;
    left: 15px; }
    footer nav.last {
      margin: 20; }
    footer nav a {
      font-size: 10px;
      line-height: normal;
      color: #ffffff; }
