/* vars */
/* mixins */
/* fonts - 
regular 400
regular 400 italic
bold 700
bold 700 italic
*/
html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  color: #010000;
  font-weight: 400;
  font-style: normal;
  max-width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none;
  -webkit-transition: transition(0.4s ease-in-out);
  -moz-transition: transition(0.4s ease-in-out);
  transition: 0.4s ease-in-out;
  cursor: pointer; }
  a:hover {
    color: #ff1755;
    -webkit-transition: transition(0.4s ease-in-out);
    -moz-transition: transition(0.4s ease-in-out);
    transition: 0.4s ease-in-out; }

.container-fluid {
  line-height: 24px; }

header {
  position: relative;
  display: block;
  left: 0px;
  width: 100%;
  background: #333;
  color: #ffffff;
  height: 60px; }
  header .logo {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transition: transition(-50%);
    -moz-transition: transition(-50%);
    transition: -50%; }
  header nav, header nav ul, header nav ul li {
    margin: 0;
    padding: 0; }
  header nav {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
    header nav ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px; }
      header nav ul li.last {
        margin: 20; }
      header nav ul li a {
        font-size: 20px;
        line-height: normal;
        color: #ffffff; }
  header .dropdown {
    position: absolute;
    top: 20%;
    right: 10px; }
    header .dropdown .Menu {
      border-color: #ff1755; }
    header .dropdown a {
      line-height: normal;
      color: #ff1755; }

.main .overlay {
  background-image: url(../img/mtnpix.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 750px;
  margin: 0px; }

main {
  margin: 0px;
  background-size: auto; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  main .fade-in {
    opacity: 0;
    /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;
    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s; }
    main .fade-in .one {
      -webkit-animation-delay: 0.7s;
      -moz-animation-delay: 0.7s;
      animation-delay: 0.7s; }
    main .fade-in .two {
      -webkit-animation-delay: 1.2s;
      -moz-animation-delay: 1.2s;
      animation-delay: 1.2s; }
  main .me {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border-top: 50px;
    display: block;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto; }
  main h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    text-shadow: 2px 2px black; }
  main p {
    font-size: 20px;
    text-align: center; }
  main a {
    color: #ffffff; }

.whoami {
  color: #333; }
  .whoami h1 {
    font-size: 35px;
    text-align: center;
    border-top: 30px; }
  .whoami p {
    text-align: center;
    margin-top: 30px;
    font-size: 20px; }

.contact .overlay {
  background-image: url(../img/mtnpix.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffffff; }

.contact h1 {
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px black;
  border-top: 40px; }

.contact ul {
  align-content: center; }
  .contact ul li {
    font-size: 20px;
    align-self: center; }
    .contact ul li a {
      color: #ffffff; }

footer {
  position: relative;
  bottom: 0px;
  display: block;
  width: 100%;
  background: #333;
  color: #ffffff;
  height: 50px;
  left: 0px; }
  footer nav {
    position: absolute;
    top: 30%;
    left: 15px; }
    footer nav.last {
      margin: 20; }
    footer nav a {
      font-size: 10px;
      line-height: normal;
      color: #ffffff; }

.pdf {
  box-align: center; }
